<h2>Your Posts</h2>
<p>Enter the title and details of the tech related topic you'd like to comment.</p>

    <form class="form post-form">
      <div class="form-group">
        <label for="postTitle">Title of Post:</label>
        <input class="form-input" type="text" id="postTitle" />
        <label for="postContent">Post Content:</label>
        <input class="form-input" type="text" id="postContent" />
      </div>
      <button class="post-form" type="submit">Post!</button>
    </form>

<script src="./js/post.js"></script>
