<!-- Loop over each object in the projects array -->
{{#each comments as |comment| }}
<div>
  <div>
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
    Comments Uploaded!
    </h2>
  
    <p> {{comment.id}} Created by {{user.email}}</p>
 
  </div>

</div>
{{/each}}
