<div>
    <h2>
    Check out the latest topics being discussed:
    </h2>
    <ul class="postHome">
      {{#each posts as |post| }}
      <a href="/post/{{post.id}}">{{post.title}}</a>
        {{#each post.comments as |comment|}}
    <li>"{{comment.text}} - {{comment.user.name}}</li>
        {{/each}}
    {{/each}}
      </ul>
  </div>
</div>

<script src="./js/comment.js"></script>
