<div>
    <h2>
    Check out the latest topics being discussed:
    </h2>
    <ul>
      {{#each}}
    <li>"{{post.title}}":{{post.text}} and {{comment.text}} - {{comment.user_id}}</li>
    </ul>
    {{/each}}
  </div>
  <div> 
     <form class="comment-form">
    <label>Leave a comment:</label>
    <input id="comment-entry" type="text" />
       <button class="comment-form" id="begin-entry" type="submit">Save Changes</button>
     </form>
  </div>

</div>

<script src="./js/comment.js"></script>
