:root {
    --main: white;
    --back: #f6cefc;
    --bottom: #DBB8E0;
    --border-radius: 0.3rem;
  }
  
body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color:var(--main);
}

h1 {
  letter-spacing: 3px;
  background-color: var(--bottom);
  color: var(--main)
}
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--back);
}
  
  main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    background-image: linear-gradient(var(--main), var(--back));
  }

  .form-group {
    display: flex;
    flex-direction: column;
  }

  .form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }